h1 {font-family: Times;}
h2 {font-family: arial;}
h3 {font-family: impact;}
h4 {font-family: arial;}
p {font-family: comic;}
figcaption {font-family: times;}
figure {border: 2px; padding: 4px;}
figure {float;}
body {background-color: blue; text-color: black;}
